body{
    font-family: 'Open Sans', sans-serif;
}
/* *********************************************************************************** */
.header-top{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 70px;
    background-color: #1d2124;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company{
    display: flex;
}
.company-img{
    padding: 20px;
    background-color: #1A1D20;
}
.company-name{
    align-self: center;
    font-size: 22px;
    font-weight: 700;
    margin-right: 10px;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 700px;
}
.nav-link{
    font-size: 15px;
    font-weight: 600;   
}

.fas{
    font-size: 17px;
    padding: 26px;
    background-color: #1A1D20;
}
/* ************************************************************************************ */
.bg-top{
    width: 100%;
    height: 404px;
    background-image: url("../img/header.jpeg");
    background-attachment: fixed;
    background-position-y: 155%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
}

.top-article-title{
    font-size: 27px;
    text-transform: uppercase;
    color: white;
}

.bg-top-buttons{
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.bg-top button{
    width: 170px;
    height: 55px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    border: none;
}

.bg-top-content{
    height: 120px ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.subscribe-btn{
    background-color: #89ca62;
}

.info-btn-top{
    background-color: #14b9d5;
}
/* ************************************************************************************** */
.popular-posts{
    width: 100%;
    height: 1030px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.popular-posts-content{
    height: 900px;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.popular-posts-content p{
    font-size: 18px;
    font-weight: bold;
    color:#353A3D;
    background-color:white;
    text-align: center;
    line-height: 26px;
    padding: 20px;
}
/* ********************************************************************************************** */
.bg-mid{
    width: 100%;
    height: 590px;
    background-image: url("../img/parallax.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4,220px);
    grid-template-rows: repeat(3, 64px);
    align-content: center;
}

.client-title{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.title-underline{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 3px;
    width: 60px;
    background-color: #169cb4;
    place-self: center;
}

.logo-place1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    place-self: center;
}

.logo-place2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    place-self: center;
}

.logo-place3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    place-self: center;
}

.logo-place4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    place-self: center;
}

h2{
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-transform: uppercase;
    text-align: center;
}
/* ************************************************************************************ */
.gallery{
    width: 100%;
    height: 381px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.gallery img{
    width: 100%;
    height: 190px;
}
.gallery  div {
    height: 190px;
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(7, auto);
    border: none;
}

/* ********************************************************** */
.hot-news{
    width: 1170px;
    height: 1550px;
    margin: 50px auto; 
}
.row-top {
    display: grid;
    grid-template-columns: 483px 373px 277px;
    grid-column-gap: 18px;
    margin-bottom: 42px;
    }
    
    .prophecy-hotel-img { grid-area: 1 / 1 / 2 / 2; }
    .prophecy-hotel-description { grid-area: 1 / 2 / 2 / 3; }
    .hotel-nebula { grid-area: 1 / 3 / 2 / 4; }

.row-midle {
    display: grid;
    grid-template-columns: 555px 555px;
    grid-column-gap: 60px;
    grid-row-gap: 42px;
    }
    .western-img { grid-area: 1 / 1 / 2 / 2; }
    .hotel-grandmeadow-img { grid-area: 1 / 2 / 2 / 3; }
    .western-description { grid-area: 2 / 1 / 3 / 2; }
    .hotel-grandmeadow-description { grid-area: 2 / 2 / 3 / 3; }

    .hotel-wanderlust-img{ grid-area: 3 / 1 4 / 2;}
    .hotel-twin-img{ grid-area: 3 / 2 / 4 / 3;}
    .hotel-wanderlust-description{grid-area: 4 / 1 5 / 2;}
    .hotel-twin-description{ grid-area: 4 /2 5 / 3;}

.row-footer{
    display: grid;
    grid-template-columns: 277px 483px 373px;
    grid-column-gap: 18px;
    margin-top: 42px;
    }
        
    .hotel-prism { grid-area: 1 / 1 / 2 / 2; }
    .hotel-kings-img { grid-area: 1 / 2 / 2 / 3; }
    .hotel-kings-description{ grid-area: 1 / 3 / 2 / 4; }

.hot-news h3{
    font-size: 18px;
    font-weight: 700;
    color: #353A3D;
    padding: 15px 0;
    text-align: center;
}
.text{
    font-size: 15px;
    font-weight: 600;
    color: #5B6469;
    text-align: right;
}
/* ************************************************************************* */
footer{
    width: 100vw;
    height: 80px;
    font-size: 13px;
    color: white;
    background-color: #1d2124;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer span{
    font-size: 17px;
    font-weight: bold;
    margin-left: 3px;
}
footer a{
    width: 105px;
    text-align: right;
    display: flex;
}

.bot-logo{
    background-image: url("../img/bot-logo.png");
    width: 38px;
    height: 24px;
    background-repeat: no-repeat;
}

.container{
    width: 100%;
    padding: 0 360px;
}
